
# Laravel environment configuration files
/.env.php
/.env.*.php

# Composer libs (Third party PHP)
/vendor


# Generic junk files that we don't want polluting the repo
.DS_Store
Thumbs.db
.idea/*
.idea

# Local vagrant information
.vagrant

# Local PhpStorm information
.idea
.idea/asfeed.iml